html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#header {
    z-index: 10;
    position: fixed;
    left: 50%;
    margin-left: -444px;
    width: 897px;
    height: 88px;
    text-align: center;
    padding-top: 8px;
    background-color: #f2eccd;
}

#takeapic {
    position: absolute;
    left: 702px;
    top: 14px;
    width: 195px;
    height: 76px;
    background: url("../images/takeapic2.png");
}

#logo_name {
    position: absolute;
    width: 127px;
    height: 42px;
    top: 91px;
    left: 50px;
    background: url("../images/picsha.png");
}

#footer {
    width:100%;
    height:40px;
    margin-top: 50px;
}
#content {
    padding-top: 110px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
body {
  background-color: #f2eccd;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #554c3e;

}
a:hover {
    text-decoration: none;
}

.photo {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    border: 2px solid #2d251a;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-bottom: 40px;
    background-size: 100% !important;
}

.actions_bar {
    background-color: transparent;
    z-index: 3;
    position: absolute;
    width: 480px;
    height: 50px;
    top: 424px;
    left: 50%;
    margin-left: -240px;
    margin-bottom: 6px;
    text-align: right;
}

.geo {
    margin: 0px 10px 0px 2px;
}

.like {
    margin: 0px 2px 0px 2px;
}

.animated_flip {
    -webkit-transition: .9s ease-out;
    -moz-transition: .9s ease-out;
    -ms-transition: .9s ease-out;
    -o-transition: .9s ease-out;
    transition: .9s ease-out;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.screenshot {
    width: 480px;
}

#login {
    margin: 5px 100px 5px 0px;
    float: right;
}

#popupContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#popupBox {
    display:none;
    position: relative;
    margin-bottom:4px;
    margin-left:10px;
    width:200px;
    height: 60px;
    color: #554C3E;
    border:2px solid #94D4D9;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#554c3e;
    z-index: 1000;

}
#popupContent {
    font-family:Cambria, Helvetica, sans-serif;
    color: #f2eccd;
    margin-top:7px;
    margin-left:7px;
    margin-right:7px;
}



.buttonCancel{
    float:right;
    clear:both;
    cursor:pointer;
    width:15px;
    height:15px;
    border-radius: 4px;
    background-color: #5CD2D2;
    border:none;
    text-align:left;
    line-height:10px;
    color:#FFFFFF;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}

#camera {
    width: 600px;
    margin: 0 auto;
    margin-top: 42px;
    border: 1px solid gray;
    text-align: center;
    background-color: black;
}

#camera .media {
    margin: 25px;
}

#overlay .shadow{
    opacity:0.89;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: -1;
}

#snapshot-button, #use-button, #cancel-button {
    height: 50px;
}

.buttons {
   margin-bottom:25px;
}

#aboutus {
    border: 1px solid black;
    background-color: #AEE29A;
    width: 90px;
    text-align: center;
    margin: 0 auto;
}
a.aboutlink {
    text-decoration: none;
}

#contentabout {
    margin: 0 auto;
    padding-top: 180px;
    width: 600px;
}

ul {
    margin-left: 30px;
}