html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 152px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 6px;
    border-bottom-color: rgba(4, 40, 71, 0.8);
    margin: 0px;
    background-color: #f2eccd;
    color: #ffffff;
    border-image: url(../images/line.png) 4;
}
#rts {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: -17px;
    display: -webkit-flex;
}
.rts2 {
    margin: 0 auto;
}
#bottomborder {
    border-bottom: 6px;
    border-image: url(../images/line.png) 4;
}
#sent {
    margin-top: 14px;
    color: #554c3e;
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    width: 542px;
    height: 44px;
}
#recieved {
    margin-top: 14px;
    color: #554c3e;
    text-align: right;
    vertical-align: middle;
    font-size: 20px;
    width: 542px;
    height: 44px;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,173,106,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0.01)), color-stop(100%,rgba(255,173,106,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,173,106,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,173,106,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,173,106,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,173,106,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffad6a',GradientType=1 ); /* IE6-9 */
}
#footer {
    width: 100%;
}
#content {
    padding-top: 180px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
body {
  background-color: #f2eccd;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #554c3e;
}

.photo {
    width: 480px;
    height: 480px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    border: 2px solid #2d251a;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin-bottom: 40px;
}

.actions_bar {
    background-color: transparent;
    z-index: 3;
    position: absolute;
    width: 480px;
    height: 50px;
    top: 424px;
    left: 50%;
    margin-left: -240px;
    margin-bottom: 6px;
    text-align: right;
}

.geo {
    margin: 0px 10px 0px 2px;
}

.like {
    margin: 0px 2px 0px 2px;
}

.animated_flip {
    -webkit-transition: .9s ease-out;
    -moz-transition: .9s ease-out;
    -ms-transition: .9s ease-out;
    -o-transition: .9s ease-out;
    transition: .9s ease-out;
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.screenshot {
    width: 480px;
}

#logo {
    display: inline-block;
    margin: 5px 0 5px 100px;
    background: url(../images/logo.png) no-repeat;
    position: relative;
}
#logolink {
    display: block;
    height: 92px;
    width: 207px;
}
#login {
    margin: 5px 100px 5px 0px;
    float: right;
}
.buttons {
    margin-top: 90px;
    margin-bottom: 10px;
}
.screens {
    margin: 0 auto;
}
.screens2 {
    position: relative;
    margin: 0 auto;
}

#overlay {
    display:none;
    opacity:0.5;
    background-color:black;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index: 999;
}

#popupContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#popupBox {
    display:none;
    position: relative;
    margin-bottom:4px;
    margin-left:10px;
    width:200px;
    height: 60px;
    color: #554C3E;
    border:2px solid #94D4D9;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    background-color:#554c3e;
    z-index: 1000;

}
#popupContent {
    font-family:Cambria, Helvetica, sans-serif;
    color: #f2eccd;
    margin-top:7px;
    margin-left:7px;
    margin-right:7px;
}



.buttonCancel{
    float:right;
    clear:both;
    cursor:pointer;
    width:15px;
    height:15px;
    border-radius: 4px;
    background-color: #5CD2D2;
    border:none;
    text-align:left;
    line-height:10px;
    color:#FFFFFF;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#camera {
    display: none;
}
